/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-my-gblocks  {
  background: $red;
  border: 0.2rem solid $black;
  color: $white;
  margin: 0 auto;
  max-width: 740px;
  padding: 2rem;
}
/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .nl-story-2-col {
  margin-top: 1rem;
  padding-bottom: 1rem;

  @media( min-width: 500px ) {
    display: grid;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
 }

.nl-story-visual > img {
  border: var(--accentBorderThick);
}

.nl-story-caption {
  color: var(--textDark);
}